Editor Default Resources/Config/repo_manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- 类型定义 -->

    <xs:complexType name="environment-variable-type">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="system-path-type">
        <xs:sequence>
            <xs:element name="local-path" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="defaultValue" type="xs:string"/>
                    <xs:attribute name="title" type="xs:string"/>
                    <xs:attribute name="required" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="assembly-loadable-strategy-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Module"/>
            <xs:enumeration value="Game"/>
            <xs:enumeration value="Shared"/>
            <xs:enumeration value="Hotfix"/>
            <xs:enumeration value="Compile"/>
            <xs:enumeration value="Tutorial"/>
            <xs:enumeration value="Test"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="package-type">
        <xs:sequence>
            <xs:element name="git-repository">
                <xs:complexType>
                    <xs:attribute name="url" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="assembly-definition" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loadable-strategy" type="assembly-loadable-strategy-type" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="order" type="xs:integer" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="dependencies" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="reference-package" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="repulsions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="reference-package" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="assets-path" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="required" type="xs:boolean"/>
    </xs:complexType>

    <!-- 元素定义 -->

    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="environment-variable" type="environment-variable-type" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="system-path" type="system-path-type" minOccurs="0" maxOccurs="1"/>
                <xs:element name="package" type="package-type" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>